<div id="content">
  <mat-card>
    <h1>About Waters</h1>
   <p>From the everyday consumer to scientists in the laboratory, we all rely on accurate information to make critical decisions. Waters Corporation is the world's leading specialty measurement company focused on improving human health and well-being through the application of high-value analytical technologies and industry leading scientific expertise.
    Our decisions and actions are guided by two simple words – Deliver Benefit. Our founder, Jim Waters, coined these words to encapsulate the idea that we should positively impact our customers, employees, shareholders and society at every opportunity.  
    Driven by that ethos for over sixty years, Waters has continually pioneered chromatography, mass spectrometry and thermal analysis innovations. Whether it’s discovering new pharmaceuticals, assuring the safety of the world’s food and water supplies, or ensuring the integrity of a chemical entity in production, we are constantly working with our 40,000+ customers to change the world.
    With a global workforce of more than 7,000 employees, Waters operates in 35 countries, including 15 manufacturing facilities and with products available in more than 100 countries. Our diverse organization is well-positioned to Deliver Benefit through innovations that enhance human health and well-being.
    </p>
  </mat-card>
</div>
    