<div class="container-md product-row-width">
  <div class="row">
    <h1>Product Two</h1>
  </div>
  <div class="row">
    <div class="col-md app-product-component-size">
      <app-product
        [productName]="professionalItem.name"
        [productPrice]="professionalItem.price"
        [productBackgroundColor]="professionalItem.backgroundColor"
      ></app-product>
    </div>
    <div class="col-md app-product-component-size">
      <app-product
        [productName]="ultimateItem.name"
        [productPrice]="ultimateItem.price"
        [productBackgroundColor]="ultimateItem.backgroundColor"
      ></app-product>
    </div>
  </div>
</div>
