<div class="container-md">
  <div class="row">
    <h1>Product One</h1>
  </div>
  <div class="row align-items-center">
    <div class="col-md app-product-component-size">
      <div [ngClass]="{'disabled': disableStarter}">
        <app-product
          [productName]="starterItem.name"
          [productPrice]="starterItem.price"
          [productBackgroundColor]="starterItem.backgroundColor"
          (buy)="onBuy($event)"
          (cancel)="onCancel($event)"
        ></app-product>
      </div>
    </div>
    <div class="col-md app-product-component-size">
      <div [ngClass]="{'disabled': disableRegular}">
        <app-product
          [productName]="regularItem.name"
          [productPrice]="regularItem.price"
          [productBackgroundColor]="regularItem.backgroundColor"
          (buy)="onBuy($event)"
          (cancel)="onCancel($event)"
        ></app-product>
      </div>
    </div>
  </div>
</div>
