<div [ngClass]="{ disabled: getDisableStatus() }">
  <mat-card
    class="product-mat-card"
    [ngStyle]="{ background: getBackgroundColor() }"
  >
    <mat-card-title class="text-color">{{ productName }}</mat-card-title>
    <mat-card-content>
      <div
        *ngIf="
          productBought && productBought === productName;
          then displayBoughtMessage;
          else displayPriceTemplate;
        "
      ></div>
      <p class="text-color desc-format">{{ productDesc() }}</p>
    </mat-card-content>

    <div
      *ngIf="productBought && productBought === productName; then displayCancelButton; else displayBuyButton;"
    ></div>
  </mat-card>
</div>
<ng-template #displayPriceTemplate>
  <p class="text-color price-format">${{ productPrice }}</p>
</ng-template>

<ng-template #displayBoughtMessage>
  <p class="text-color price-format">{{ boughtMessage }}</p>
</ng-template>

<ng-template #displayBuyButton>
  <mat-card-actions align="center">
    <button mat-stroked-button (click)="buyProduct()">BUY</button>
  </mat-card-actions>
</ng-template>

<ng-template #displayCancelButton>
  <mat-card-actions align="center">
    <button mat-stroked-button (click)="cancelProduct()">CANCEL</button>
  </mat-card-actions>
</ng-template>
