/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

// @import '~@angular/material/theming';
// @import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Bootstrap Reboot
@import "~bootstrap/scss/reboot";

// @media only screen and (min-width: 800px) { }

// @import "_variables.scss";
$grid-breakpoints: (
  xs: 0, // handset portrait (small, medium, large) | handset landscape (small)
  sm: 600px, // handset landscape (medium, large) | tablet portrait(small, large)
  md: 800px, //  tablet landscape (small, large)
  lg: 1280px, // laptops and desktops
  xl: 1600px // large desktops
);

$container-max-widths: (
  sm: 600px,
  md: 800px,
  lg: 1280px,
  xl: 1600px
);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// div class to disable app-product component for a condition
.disabled
{
  pointer-events: none;
  /* for "disabled" effect */
  opacity: 0.5;
  background: #CCC;
}

.app-product-component-size {
    width: 400px;
}
.product-mat-card {
    width: 396px;
    margin-bottom: 4px;
    border: 5px;
}
.product-row-width {
    max-width: 800px;
}